ytpodders.com {
	proxy / localhost:7000
}

bollox.ytpodders.com {
	proxy / localhost:1337
}

bandonfews.ytpodders.com {
        proxy / localhost:8333
}

rss.ytpodders.com {
        proxy / localhost:8111
}
